*.pyc
*.localcfg
*.lcfg
.vscode
assets/.history
assets/gamehub_api_tos.txt
assets/hasshownguide.state
assets/hasverified.state
assets/persistance.yaml
assets/profile.msg
assets/profile.py
packages/cmdlets/simonkalmiclaesson.resgen.latest/projects/*
packages/cmdlets/group.school/*
packages/cmdlets/group.games/*
packages/cmdlets/group.coding/*
