# Command 
description = ""
aliases = []
paramhelp = "<string>"
blockCommonparams = False
# Overwrites
pathoverwrite = {cmdletsFolder}\group.working-legacy-cmdlets\SearchBlackBox\.wrapper.ps1
nameoverwrite = SearchBlackBox
synopsisDesc = True