# Command 
description = "Same as calc but always using mathjs"
aliases = []
paramhelp = "-expression <expression> -mathlibinfo -t/-s/-tui/-app/-cli -p/-printsheet -o/-printout"
# Overwrites
pathoverwrite = ""
nameoverwrite = ""